@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  --clr-maroon: #620920;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-brokenwhite: #f7f7f7;
  --cmr-lightblue: #E5F3FE;
  --gradient-lightblue: linear-gradient(to left, #FFF 14%, #E5F6FE);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
    "header"
    "banner"
    "main"
    "footer";
  background: var(--gradient-lightblue);
  padding-top: 11vh;
  padding-bottom: 3vh;
  overflow-x: hidden;
}

#shop-grid-container {
  display: grid;
  grid-template-areas: 
    "header header"
    "banner banner"
    "aside main"
    "footer footer";
    grid-template-columns: 22% auto;
}

header {
  background-color: var(--clr-white);
  display: flex;
  min-height: 11vh;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  margin-top: -11vh;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.60);
  grid-area: header;
}

main {
  grid-area: main;
}

nav a {
  padding: 0 0.4rem;
  font-size: 1.04rem;
  color: var(--clr-maroon);
  margin: 0 0.7rem;
  position: relative;
  z-index: 0;
}

.hamburger {
  display: none;
}

.logo {
  cursor: pointer;
  width: 8.1rem;
  padding-top: 0.4rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.icons img {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0 0.4rem;
  transition-duration: 0.1s;
}

.icons img:nth-last-of-type(1):hover,
.icons img:nth-last-of-type(2):hover,
.icons img:nth-last-of-type(3):hover {
  cursor: pointer;
  transform: scale(1.07);
}

.main-nav a:before,
.main-nav a:after {
  position: absolute;
  top: 14px;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid var(--clr-maroon);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

.main-nav a:after {
  border-width: 1px;
  transition: all 0.4s;
}

.main-nav a:hover:before {
  opacity: 0.3;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.main-nav a:hover:after {
  opacity: 0.7;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.banner {
  position: relative;
  z-index: 1;
  grid-area: banner;
}

.banner img {
  width: 100%;
  height: 50vh;
  object-position: center 55%;
  object-fit: cover;
  /* margin-bottom: -0.6rem; */
}

/* .featured-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  padding: 2rem 3rem;
  gap: 2.4rem;
} */

.featured-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 2rem 2.4rem;
  gap: 2.4rem;
  width: 100%;
}

.featured-products figure {
  width: 22%;
}

.featured-products img {
  transition-duration: 0.4s;
  width: 100%;
}

.featured-products img:hover {
  transform: scale(1.14);
  opacity: 0.8;
}

#product-title {
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  padding: 2rem 3rem 0 3rem;
  /* text-shadow: 0px 10px 7px var(--clr-black); */
}

.about-me {
  /* background-color: var(--clr-brokenwhite); */
  /* background: linear-gradient(to bottom, #FFF 50%, #62092180 100%); */
  background: linear-gradient(to bottom, #FFF 50%, #ceeaff 100%);
  padding: 2.4rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
  border-top: var(--clr-black) solid 1px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.7);
}

.about-me img {
  transition-duration: 3s;
}

.about-me img:hover {
  border-radius: 50%;
  filter: grayscale(1);
}

.about-me-image {
  width: 200px;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.7);
}

.about-me-text {
  text-align: left;
  margin-top: 20px;
  padding-left: 2rem;
}

.about-me-text h2 {
  font-size: 24px;
  color: var(--clr-black);
}

.about-me-text p {
  font-size: 16px;
  color: var(--clr-black);
  max-width: 800px;
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
  width: 2.3rem;
  height: 2px;
  background-color: var(--clr-maroon);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
  width: 2.3rem;
  height: 2px;
  background-color: var(--clr-maroon);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-black);
  opacity: 0.9;
  color: var(--clr-white);
  height: 3vh;
  width: 100%;
  font-size: 0.6rem;
  position: fixed;
  bottom: 0px;
  z-index: 5000;
  grid-area: footer;
}

footer img {
  width: 0.8rem;
  height: 0.6rem;
  margin: 0 0.1rem;
}

footer span {
  margin: 0 1rem;
}

footer figure {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.5rem;
  margin-bottom: -0.1rem;
  padding: 3.1rem 0 3rem 0;
}

.contact-box {
  display: flex;
  flex-direction: column;
  padding: 1.87rem;
  background-color: var(--clr-maroon);
  opacity: 0.8;
  color: var(--clr-white);
  border-radius: 1rem;
  text-align: left;
  /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.8); */
  width: 30rem;
}

.contact-box h1 {
  font-size: 1.5rem;
}

.contact-box p {
  margin-bottom: 1.3rem;
}

#contact-form input:focus,
#contact-form textarea:focus,
.review-container input:focus,
.review-container textarea:focus {
  border: none;
  transition: all ease 0.5s;
  background-color: #E5F3FE;
}



#contact-form label,
.review-container label {
  display: block;
  font-weight: bold;
}

#contact-form input,
#contact-form textarea,
.review-container input,
.review-container textarea {
  width: 85%;
  padding: 0.5rem 0.7rem;
  background-color: var(--clr-white);
  border-radius: 0.1rem;
  margin-bottom: 1rem;
  color: var(--clr-black);
  font-size: 0.9rem;
}

#contact-form button,
.review-container button {
  background-color: var(--clr-white);
  color: var(--clr-maroon);
  border: none;
  padding: 0.4rem 1.3rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 30%;
  margin-top: 0.6rem;
  display: flex;
  justify-content: center;
}

.shop-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: -0.6rem 0;
  padding: 0rem 1.5rem;
  gap: 1.8rem;
}

article.product {
  width: 30%;
}

.product img {
  width: 100%;
  transition: all 0.3s;
}

aside {
  background-color: var(--clr-white);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.60);
  padding: 1rem;
  grid-area: aside;
  margin-top: -1rem;
}

.product {
  position: relative;
  text-align: center;
  line-height: 1.3rem;
  margin-top: 2rem;
}

.product:nth-child(10),
.product:nth-child(11),
.product:nth-child(12),
.product:nth-child(13) {
  margin-bottom: 2rem;
}

.product:hover img:not(.wishlist-icon img, .product-button img) {
  opacity: 0.8;
  animation: shake 0.80s;
  animation-iteration-count: infinite;
}

.product h2 {
  font-size: 1rem;
  color: var(--clr-maroon);
}

.product h2:hover {
  text-decoration: underline;
}

.product p {
  font-size: 0.9rem;
}

.product-button-remove {
    background-color: #000;
    color: #fff;
    padding: 0.1rem 0.6rem;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
}

.product-button-remove:hover {
  opacity: 0.8;
  transform: scale(1.07);
}

#cart-items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 2.3rem;
  margin-left: 2.3rem; */
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

#cart-header {
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 0.5rem;
}

#total-price {
  color: var(--clr-maroon);
}

#checkout-text {
  color: var(--clr-maroon);
  cursor: pointer;
  font-size: 0.9rem;
  width: 10%;
}

#checkout-text:hover {
  text-decoration: underline;
}

.cart-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0 0.3rem;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.product-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.1;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-size: 0.9rem;
  width: 50%;
}

.product-button img{
  width: 1.2rem;
}

.product:hover .product-button {
  opacity: 1;
}

#map {
  width: 34rem;
  height: 30rem;
  margin-top: 0.5rem;
  border-radius: 10%;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.6);
}

#product-page-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 1rem 3rem 1rem;
}

#product-page-container img {
  width: 600px;
  object-fit: cover;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20);
  border: rgba(0, 0, 0, 0.6) solid 1px;
}

#product-page-container h1 {
  font-size: 2.4rem;
  line-height: 2rem;
  margin-bottom: 0.7rem;
}

#product-article select {
  font-size: .9rem;
  border: 1px solid black;
  text-align: left;
  padding: 7px 14px;
  width: 20vw;
  margin-bottom: 13px;
}

#product-article p:nth-last-of-type(2) {
  margin-bottom: 10px;
}

#product-article p:nth-last-of-type(1) {
  font-size: .8rem;
  color: #620920;
  margin-bottom: 30px;
}

#product-article label {
  font-size: .9rem;
  color: #620920;
}

select.classic {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

#product-article span {
  font-size: 1.5rem;
  color: #620920;
}

#product-page-button {
  color: white;
  font-size: .9rem;
  padding: 5px;
  border: solid 2px black;
  width: 60%;
  text-align: center;
  border-radius: 20px;
  background-color: black;
  margin-top: 22px;
  cursor: pointer;
  text-transform: lowercase;
  transition: 0.3s all; 
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-size: 0.9rem;
}

#product-page-button img{
  width: 1.2rem;
}

#product-page-button:hover {
  transform: scale(1.04);
  opacity: 0.8;
}

#product-page-details {
  /* padding: 0rem 10rem; */
  width: 53%;
  padding: 2rem;
  color: var(--clr-maroon);
  margin: auto;
  text-align: center;
}

#product-page-details h1 {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 10px;
}

#product-page-details p {
  line-height: 1.8rem;
}

.review-container {
  line-height: 1.8rem;
  padding: 1rem;
  background-color: #fff;
  /* box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.80);
  border: solid black 1px; */
  border-radius: 5px;
  color: black;
  font-size: 0.9rem;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0.4rem;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20);
    border: rgba(0, 0, 0, 0.6) solid 1px;
  
}

.review-container input[type="text"],
.review-container input[type="email"] {
    padding: 5px;
    /* border-radius: 5px; */
    border-bottom: 1px solid black;
    /* box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8); */
    /* border: solid 1px black; */
    font-size: 1rem;
}

::placeholder {
  opacity: 0.6;
}

.review-container textarea {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  padding: 5px;
  border: none;
  font-size: 1rem;
}

#resizableTextarea {
  resize: vertical;
  min-height: 100px;
  min-width: 100px;
  max-height: 300px;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.review-container #submitBtn {
  background-color: #620920;
  opacity: 0.9;
  color: #fff;
  border: none;
  padding: 5px 2px;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
  text-align: center;
  margin: 10px 0px;
}

.review-container #submitBtn:hover {
  background-color: #620920;
  opacity: 0.8;
}

#reviews #recensies-text {
  font-size: 0.9rem;
  margin-left: 0.4rem;
}

#reviews .fa {
  color: black;
  font-size: 1.3rem;
}

#reviews .checked {
  color: rgb(221, 188, 0);
}

.spanRed {
  color: var(--clr-maroon);
}

.wishlist-icon {
  position: absolute;
  top: 0;
  cursor: pointer;
}

.wishlist-icon img {
  width: 1.7rem;
  height: 1.7rem;
}

#search-bar {
  display: none;
}

.show-search-bar {
  display: block;
  align-items: center;
  font-size: 0.9rem;
  border-bottom: 1px solid black;
  position: relative;
}

.show-search-bar button img {
  position: absolute;
  bottom: -4px;
  left: -31px;
}

.show-search-bar button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.show-search-bar input {
  position: relative;
  bottom: -2px;
}

#customer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: auto;
  padding: 1.5rem 1rem 1.7rem 1rem;
}

.user {
  width: 300px;
  padding: 20px;
  /* border: 1px solid #9e9e9e67; */
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.747);
  text-align: center;
  background-color: white;
}

.user img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user p {
  margin-bottom: 8px;
  word-wrap: break-word;
}

/* height */
@media only screen and (max-height: 600px) {
  header {
    height: 17vh;
  }
}

/* width */
@media screen and (max-width: 1790px) {
  .product-button {
    width: 50%;
  }
}

@media screen and (max-width: 1460px) {
  .product-button {
    width: 60%;
  }
}

@media screen and (max-width: 1400px) {
  #product-page-details {
    padding-left: 0;
    padding-right: 0;
    width: 70%;
  }
}

@media screen and (max-width: 1240px) {
  .product-button {
    width: 80%;
  }
}

@media screen and (max-width: 1128px) {
  .product-button {
    width: 60%;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me-text {
    text-align: center;
    padding-left: 0;
  }

  .product-button {
    width: 90%;
  }

  .featured-products figure {
    width: 40%;
  }

  #shop-grid-container {
    display: grid;
    grid-template-areas: 
      "header header"
      "banner banner"
      "aside aside"
      "main main"
      "footer footer";
  }

  .shop-flex-container {
    padding: 1rem 1rem;
  }

  .product-button-remove {
    margin-right: 70%;
  }
}

@media screen and (max-width: 1030px) {
  #map {
    width: 21rem;
    height: 30rem;
  }

  .contact-box {
    width: 26rem;
  }

  .product-button {
    width: 60%;
  }
}

@media screen and (max-width: 983px) {
  #product-article {
    background-color: rgb(255, 255, 255);
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20);
    border: rgba(0, 0, 0, 0.6) solid 1px;
  }
  #product-article span, #product-heading {
    line-height: 0rem;
  }
  #product-page-container {
    padding: 2rem;
    gap: 2rem 0;
  }
  #product-page-container select {
    width: 100%;
  }
  #product-page-container button {
    width: 80%;
  }
}

@media screen and (max-width: 970px) {
  .about-me {
    justify-content: center;
  }
}

@media screen and (max-width: 935px) {
  .about-me-text {
    text-align: center;
    padding-left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 0.2rem 0.3rem;
    transition: 0.4s;
  }

  nav {
    display: none;
  }

  #nav-menu {
    display: none;
    position: fixed;
    top: 10vh;
    left: 0;
    width: 30%;
    background-color: var(--clr-white);
    z-index: 1000;
    padding: 3rem 1rem;
    border-radius: 0 0 10% 0;
    /* box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.60); */
  }

  #nav-menu.active {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
  }

  .main-nav a:before,
  .main-nav a:after {
    top: 14px;
    width: 34px;
    height: 34px;
  }

  .bar:nth-child(1) {
    width: 1.6rem;
    height: 2px;
    background-color: var(--clr-black);
    margin: 0.1rem 0;
  }

  .bar:nth-child(2) {
    width: 2.1rem;
    height: 2px;
    background-color: var(--clr-black);
    margin: 6px 0;
  }

  .bar:nth-child(3) {
    width: 2.6rem;
    height: 2px;
    background-color: var(--clr-black);
    margin: 0.1rem 0;
  }
}

@media screen and (max-width: 830px) {
  .product-button {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  #map {
    width: 25rem;
  }

  #contact {
    flex-direction: column;
    gap: 1rem;
    padding: 1.4rem 0 1rem 0;
  }

  .about-me {
    justify-content: center;
  }

  .about-me-text {
    text-align: center;
    padding-left: 0;
  }

  .shop-flex-container article {
    width: 40%;
  }

  .review-container #submitBtn {
    width: 40%;
  }

  .review-container {
    width: 90%;
  }
  .review-container textarea,
  .review-container input {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  #product-page-container img {
    display: none;
  }

  .featured-products figure {
    width: 75%;
  }

  #product-article  {
    padding: 2rem;
  }

  #product-page-details {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
  }

  .product-button-remove {
    margin-right: 60%;
  }
}

@media screen and (max-width: 580px) {
  .logo {
    display: none;
  }

  .shop-flex-container article {
    width: 88%;
  }
}

@media screen and (max-width: 500px) {
  .featured-products {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .featured-products figure {
    width: 95%;
  }

  .contact-box {
    width: 97%;
  }

  .product-button-remove {
    margin-right: 50%;
  }

  #map {
    width: 24rem;
  }

  .product-button {
    width: 60%;
  }
}

@media screen and (max-width: 470px) {
  footer span {
    display: none;
  }

  nav a {
    font-size: 0.8rem;
  }

  .main-nav a:before,
  .main-nav a:after {
    top: 12px;
    width: 25px;
    height: 25px;
  }

  #product-title h1 {
    font-size: 1rem;
    padding: 2rem 0 0 0;
  }
}

@media screen and (max-width: 420px) {
  .product-button {
    width: 70%;
  }

  .product-button-remove {
    margin-right: 40%;
  }
}

@media screen and (max-width: 400px) {
  #map {
    width: 20rem;
  }
}